<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcmd.service.demand.mapper.LabelMapper">
    <resultMap id="BaseResultMap" type="com.dcmd.service.demand.entity.Label">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_label
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.dcmd.service.demand.entity.Label">
    insert into t_sys_label (id, name)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.dcmd.service.demand.entity.Label">
    update t_sys_label
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name
    from t_sys_label
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, name
    from t_sys_label
  </select>

    <!--查询评审状态-->
    <select id="queryReviewState" resultType="com.dcmd.service.demand.entity.Label">
       SELECT
				t.`key` as id,t.`value`as NAME
        FROM
            t_sys_parameter t
        WHERE
            type = 'ReviewState'
    </select>

    <!--查询受理状态-->
    <select id="queryAcceptType" resultType="com.dcmd.service.demand.entity.Label">
       SELECT
				t.`key` as id,t.`value`as NAME
        FROM
            t_sys_parameter t
        WHERE
            type = 'AcceptType'
    </select>

    <!--查询需求描述的MarkDown模板-->
    <select id="getMarkDown" resultType="com.dcmd.service.demand.entity.Label">
        SELECT
        p.key as "value",p.value as "label"
        FROM t_sys_parameter p
        where p.type='MarkDown'
    </select>


    <select id="selectLabelesName" resultType="java.lang.String">
        SELECT
        GROUP_CONCAT(la.name)
        FROM
        t_sys_label la
        WHERE
        la.id IN
        <foreach collection="array" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>